<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>GCD Database</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
<body>

<form>
    <table>

    <tr>
    <td colspan="1" >
        <input  class="btn btn-primary" type="submit" formaction="/" value="Menu"></td>
    </tr>

    <tr>
        <td colspan="1">
            <input class="btn btn-primary" type="submit" formaction="/editAdminList" value="Edit players"></td>
    </tr>

    <tr>
    <td colspan="1" >
        <input class="btn btn-primary" type="submit" formaction="/add" value="Add player"></td>
    </tr>

    </table>

</form>



</body>
</html>
