<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GCD Database</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<form>

        <table>
            <tr>
                <td colspan="1" >
                    <input type="submit" class="btn btn-primary" formaction="/list" value="Player List"></td>
            </tr>

            <tr>
                <td colspan="1">
                    <input type="submit" class="btn btn-primary" formaction="/adminMenu" value="Admin panel"></td>
            </tr>

        </table>


</form>
</body>
</html>
