<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>GCD Database</title>
    </head>
<body>
<form   th:action="@{/update}" th:object="${osoba}">

    <table>
        <tr>
            <td>Name</td>
            <td><input name="name" th:field="*{name}"> </td>
        </tr>
        <tr>
            <td>Nickname</td>
            <td><input name="nameInGame" th:field="*{nameInGame}"> </td>
        </tr>
        <tr>
            <td>Surname</td>
            <td> <input name="surname" th:field="*{surname}"> </td>
        </tr>
        <tr>
            <td>Date of birth</td>
            <td><input name="date" th:field="*{date}"></td>
        </tr>
        <tr>
            <td>Role</td>
            <td><input name="role" th:field="*{role}"></td>
        </tr>
        <tr>
            <td>Country</td>
            <td><input name="country" th:field="*{country}"></td>
        </tr>
        <tr>
            <td>Socials </td>
            <td><input name="social1" th:field="*{social1}"> </td>
        </tr>
        <tr>
            <td></td>
            <td><input name="social2" th:field="*{social2}"> </td>
        </tr>
        <tr>
            <td>Team</td>
            <td><input name="team" th:field="*{team}">
                <input type="checkbox" name="team" value="Not contracted">Not Contracted</td>
        </tr>
        <tr>
        <td><input type="hidden" name="id" th:field="*{id}"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input class="btn btn-primary" type="submit" value="Update"></td>
        </tr>
        <form>
        <td colspan="2">
            <input class="btn btn-primary" type="submit" formaction="/editAdminList" value="Back"></td>
        </form>
    </table>
</form>
</body>
</html>